<form method="post" action="/post" class="well">
	<input type="text" name="post" class="col-sm-8">
	<button type="submit" class="btn btn-success">
		<i class="glyphicon glyphicon-comment"></i>&nbsp;发微言
	</button>
	
	<span class="btn btn-info">
		<a href="/article">
			<i class="glyphicon glyphicon-list-alt"></i>&nbsp;去发长文
		</a>
	</span>
</form>