<div class="index-header">
	<h1>欢迎来到 MYblog</h1>
	<p>MYblog 是一个基于 Node.js 的微博系统</p>
	<p>
		<a href="/login" class="btn btn-primary btn-lg">登录</a>
		<a href="/reg" class="btn btn-lg">立即注册</a>
	</p>
</div>