		<footer class="footer">
			<div class="footer-main">
			<span class="footer-copyright">
				本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>
			</span>
			<span class="footer-copyright">
				本站由树数创建，您可以在GitHub找到<a href="https://github.com/shushu2013">本站源码</a>
			</span>
			</div>
		</footer>
		<script src="/js/user.js" type="text/javascript"></script>
	</body>
</html>
